$primary: lightgreen;

@import "../node_modules/bootstrap/scss/bootstrap";

* {
    font-family: "Raleway",Helvetica,Arial,sans-serif
}
.tagline {
    width: 95vw;
}

.c-nav-item {
    color: lightgreen;
}

.c-active {
    color: darkgreen !important;
}

.c-thumbs-up { 
    color: darkgreen !important;
}

.c-thumbs-down {
    color: red;
}

.c-row {
    height: 70%;
}

.c-fluid {
    // height: 40%;
    max-height: 350px;
}

.c-row2 {
    height: 15%;
}

.c-mt50{
    margin-top: 50%;
}

.c-bg-img {
    background-image: url("../assets/landing-background.jpg");
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
    .container-fluid {                           
        height: 1024px;                         
    }                       
}   

@media all and (device-width: 360px) and (device-height: 640px) and (orientation:portrait) {
    .container-fluid {                           
        height: 640px;                         
    }                       
} 

@include media-breakpoint-up(sm) { 
    .nav-link {
        display: inline-block;
    }
 }
@include media-breakpoint-up(md) {  }
@include media-breakpoint-up(lg) {  }
@include media-breakpoint-up(xl) {  }